Objective: Explorasi Data Analisis

# Import Library

In [5]:
import pandas as pd
import numpy as np
import re

In [6]:
pd.read_csv('clean.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   teritory           612 non-null    object
 1   year               612 non-null    object
 2   power_spec         612 non-null    int64
 3   power_needed       612 non-null    int64
 4   kwh_needed         612 non-null    float64
 5   megawatt_capacity  612 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 28.8+ KB

# Data Loading

In [228]:
data = pd.read_csv('adam.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 6 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   State/Union Territory                           612 non-null    object
 1   Year                                            612 non-null    object
 2   Power_Requirement_Net_Crore_Units               612 non-null    object
 3   Availability_Of_Power_Net_Crore_Units           612 non-null    object
 4   Availability_Of_Power_Per_Capita_kiloWatt-Hour  612 non-null    object
 5   Installed_Power_Capacity_MegaWatt               612 non-null    object
dtypes: object(6)
memory usage: 28.8+ KB

In [229]:
data.head()

,State/Union Territory,Year,Power_Requirement_Net_Crore_Units,Availability_Of_Power_Net_Crore_Units,Availability_Of_Power_Per_Capita_kiloWatt-Hour,Installed_Power_Capacity_MegaWatt
0,Andaman and Nicobar Islands,2004-05,-,-,-,65
1,Andhra Pradesh,2004-05,5042,5006,656.9,10809
2,Arunachal Pradesh,2004-05,16,16,143.9,187
3,Assam,2004-05,379,358,134.4,1133
4,Bihar,2004-05,720,648,78,1644

In [230]:
data.duplicated().sum()

0

### Melihat Data selain Numerik di kolom Numerik

In [231]:
data.columns

Index(['State/Union Territory', 'Year', 'Power_Requirement_Net_Crore_Units',
       'Availability_Of_Power_Net_Crore_Units',
       'Availability_Of_Power_Per_Capita_kiloWatt-Hour',
       'Installed_Power_Capacity_MegaWatt'],
      dtype='object')

In [232]:
test = data.columns[2:]

for i in test:
    print(f"data kosong {i} : ",[j for j in data[i].unique() if re.sub(r"[+-]?([0-9]*[.])?[0-9]+",'',j)])

data kosong Power_Requirement_Net_Crore_Units :  ['-', '.']
data kosong Availability_Of_Power_Net_Crore_Units :  ['-', '.']
data kosong Availability_Of_Power_Per_Capita_kiloWatt-Hour :  ['-', '.']
data kosong Installed_Power_Capacity_MegaWatt :  ['.']

In [233]:
data.columns = ['teritory','year','power_spec','power_needed','kwh_needed','megawatt_capacity']

In [234]:
np.NaN

nan

In [235]:
data.replace('.','0',inplace=True)
data.replace('-','0',inplace=True)
data.isnull().sum()

teritory             0
year                 0
power_spec           0
power_needed         0
kwh_needed           0
megawatt_capacity    0
dtype: int64

In [236]:
data.query('power_spec == "-"')

Empty DataFrame
Columns: [teritory, year, power_spec, power_needed, kwh_needed, megawatt_capacity]
Index: []

In [237]:
data['kwh_needed'] = data['kwh_needed'].astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   teritory           612 non-null    object
 1   year               612 non-null    object
 2   power_spec         612 non-null    object
 3   power_needed       612 non-null    object
 4   kwh_needed         612 non-null    float64
 5   megawatt_capacity  612 non-null    object
dtypes: float64(1), object(5)
memory usage: 28.8+ KB

In [238]:
data[['power_spec','power_needed','megawatt_capacity']] = data[['power_spec','power_needed','megawatt_capacity']].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   teritory           612 non-null    object
 1   year               612 non-null    object
 2   power_spec         612 non-null    int32
 3   power_needed       612 non-null    int32
 4   kwh_needed         612 non-null    float64
 5   megawatt_capacity  612 non-null    int32
dtypes: float64(1), int32(3), object(2)
memory usage: 21.6+ KB

In [239]:
from datetime import datetime

In [240]:
data['year'] = data['year'].apply(lambda x: datetime.strptime(x.split('-')[0], "%Y"))
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   teritory           612 non-null    object
 1   year               612 non-null    datetime64[ns]
 2   power_spec         612 non-null    int32
 3   power_needed       612 non-null    int32
 4   kwh_needed         612 non-null    float64
 5   megawatt_capacity  612 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(3), object(1)
memory usage: 21.6+ KB

In [241]:
data['year'].unique()

<DatetimeArray>
['2004-01-01 00:00:00', '2005-01-01 00:00:00', '2006-01-01 00:00:00',
 '2007-01-01 00:00:00', '2008-01-01 00:00:00', '2009-01-01 00:00:00',
 '2010-01-01 00:00:00', '2011-01-01 00:00:00', '2012-01-01 00:00:00',
 '2013-01-01 00:00:00', '2014-01-01 00:00:00', '2015-01-01 00:00:00',
 '2016-01-01 00:00:00', '2017-01-01 00:00:00', '2018-01-01 00:00:00',
 '2019-01-01 00:00:00', '2020-01-01 00:00:00']
Length: 17, dtype: datetime64[ns]